@import url(https://fonts.googleapis.com/css?family=Lato:300,regular,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular);

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Bold .eot');
	src: local('☺'), url('../fonts/Gotham-Bold .woff') format('woff'), url('../fonts/Gotham-Bold .ttf') format('truetype'), url('../fonts/Gotham-Bold .svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Black.eot');
	src: local('☺'), url('../fonts/Gotham-Black.woff') format('woff'), url('../fonts/Gotham-Black.ttf') format('truetype'), url('../fonts/Gotham-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

